<html>
<head>
  <title>Testing123</title>
  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src = "mainApp.js"></script>
  <script src = "dynamic.js"></script>     

  <style>
      div.box { background: #FFFFFF; height: 100px; width: 800px; }
      div.div1{background: #FFFFFF; float: left; height: auto; width: auto; }
      div.div2{ background: #FFFFFF; float: right; height: auto; width: auto; }
      div.clear { clear: both; height: 1px; overflow: hidden; font-size:0pt; margin-top: -1px; }
  </style>

</head>

<body ng-app="mainApp">
  <div ng-controller="DynamicController as dynamic">

    <div class="box">
        <form name="userForm" novalidate>
            <div class="div1">
                <div class="form-group" ng-repeat="firstUser in firstUsers">
                    <label>{{ firstUser.name }}'s Email</label>
                    <input type="text" class="form-control" name="email" ng-model="firstUser.email" required>
                    <br>

                    <div ng-show="firstUser.email">
                        <p>Tell us your email.<p>
                    </div>

                    <div ng-show="firstUser.isText">
                        <p>This is a Text Box<p>
                    </div>

                    <hr>
                </div>
            </div>

            <div class="div2">
                <div class="form-group" ng-repeat="secondUser in secondUsers">
                    <label>{{ secondUser.name }}'s Email</label>
                    <input type="text" class="form-control" name="email" ng-model="secondUser.email" required>
                    <br>
                    <div ng-show="secondUser.email">
                        <p>Tell us your email.<p>
                    </div>

                    <div ng-show="secondUser.isText">
                        <p>This is a Text Box<p>
                    </div>

                    <hr>
                </div>
            </div>

             <div class="clear">
        </form>
        </div>

    </div>
 </body>
 </html>
 