<html>
<head>
  <title>Love You</title>
  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src = "mainApp.js"></script>
  <script src = "custom.js"></script>     

  <style>
      div.box { background: #FFFFFF; height: 100px; width: 800px; }
      div.div1{background: #FFFFFF; float: left; height: auto; width: auto; }
      div.div2{ background: #FFFFFF; float: right; height: auto; width: auto; }
      div.clear { clear: both; height: 1px; overflow: hidden; font-size:0pt; margin-top: -1px; }
  </style>

</head>

  <body ng-app="mainApp">
    <div ng-controller="Navigation">
    <input type="button" id="login" value="Click Here" ng-click="Login()" />

    <div ng-show="isShow">

      <div class="form-group" ng-repeat="name in names track by $index">
        <h2>{{name}}</h2>
      </div>

      <img src="matti.jpg" alt="Mountain View" style="width:192px;height:256px;">

    </div>
  </div>

  </body>
</html>